@model IEnumerable<QuanLyKhoHang.Models.KhoTonHang>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Kho Hàng Tồn</h1>

<p>
    <a asp-action="Create">Thêm</a>
</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <table class="table">
            <thead class="thead-dark" style="text-align:center">
                <tr>
                    <th>
                        Tên kho
                    </th>
                    <th>
                        Ghi chú
                    </th>
                    <th>Thao Tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenKho)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GhiChup)
                        </td>
                        <td style="text-align:center">
                            <a asp-action="Edit" asp-route-id="@item.MaKho">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.MaKho">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.MaKho">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</body>
</html>
